.planButton {
    display: flex;
    align-items: center;
    margin: 0.5rem auto 0.3rem auto;
    height: 200px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.buttonText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-left: 0;
    margin-left: 1.5rem;
}

.buttonImg {
    margin-left: 1rem;
}

.planName {
    font-size: 0.9rem;
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.planPrice {
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%);
}

.switchBtn-div {
    width: 95%;
    display: flex;
    background-color: hsla(230, 12%, 63%, 0.11);
    border-radius: 12px;
    border: none;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
}

.switchBtn-div h1 {
    font-size: 1rem;

}

#monthlyswitch {
    height: 50%;
    width: 60px;
    border-radius: 20px;
    border: none;
    background-color: hsl(213, 96%, 18%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: ease 0.3s;
    margin: auto 15px;
}

#monthlyswitch p {
    background-color: #fff;
    border-radius: 50%;
    height: 70%;
    width: 30%;
    margin-left: 5px;
    transition: ease 0.3s;
}

#monthlyswitch.change {
    justify-content: flex-end;
    padding-right: 5px;
    transition: ease 0.3s;
}

.planButton:hover, #monthlyswitch:hover {
    cursor: pointer;
}

.planButton:focus {
    background-color: hsla(230, 12%, 63%, 0.11);
    border: 1px solid hsl(268, 93%, 26%);
    transition: ease 0.5s;
}

/*@media screen and (min-width: 900px){
    #main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        width: 90vw;
        height: 80vh;
        top: 3rem;
        left: 3rem;
        position: absolute;
        border-radius: 15px;
        background-color: #fff;
    }
    #sidebar {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        position: relative;
        width: 60%;
        height: 57%;
        margin: 0;
        padding: 0;
        top: 2.5%;
        left: 2.5%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        background-image: url('../assets/images/bg-sidebar-desktop.svg');
    }
    #main-form{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        position: relative;
        margin: 0;
        padding: 0;
        top: 1%;
        right: 15%;
        width: 50vw;
        height: 50%;
        margin-bottom: 0;
    }
    .switchBtn-div{
        height: 40px;
    }
    footer {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        width: 100%;
        position: absolute;
        right: 13%;
        bottom: 310px;
    }
}*/

@media (min-width: 768px) {
    #main-container{
        width: 90vw;
        max-width: 900px;
        min-height: 500px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 80% 20%;
        position: relative;
        background-color: #fff;
        border-radius: 20px;
        margin: 4rem auto;
    }
    #main-form{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: 80%;
        max-width: 500px;
        height: 400px;
        position: absolute;
        top: 0;
        right: 0;
    }
    #sidebar {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        max-width: 300px;
        width: 100%;
        height: 400px;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 460px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-image: url('../assets/images/bg-sidebar-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    #footer {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        width: 90%;
        position: absolute;
        bottom: 0;
        right: 0;
        height: 85px;
        margin-right: 2rem;
    }
    .sidebar-info {
        display: flex;
        align-items: center;
    }
    .sidebar-infoTitle{
        font-size: 0.9rem;
        color: hsl(234, 8%, 77%);
        display: block;
    }
    .sidebar-infoDesc{
        font-size: 1rem;
        color: #fff;
        display: block;
    }
    .switchBtn-div{
        height: 40px;
    }
}
