#summary-container {
    background-color: hsla(230, 12%, 63%, 0.11);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.plan-container, .addonContainer, .summary-total {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.plan-container {
    height: 70px;
    border-bottom: 1px solid #dbdbdb;
}

.addonContainer {
    height: 40px;
}

.summary-planName, .summary-planPrice, .summary-addonPrice {
    font-size: 0.9rem;
    color: hsl(213, 96%, 18%);
    font-weight: bold;
}

.summary-addonName, .summary-totalTitle {
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%);
}

.summary-totalTitle {
    margin-top: 3rem;
}

.summary-totalPrice {
    font-size: 0.9rem;
    color: hsl(268, 42%, 59%);
    font-weight: bold;
    margin-top: 3rem;
}

.swal2-popup {
    font-size: 1.2rem;
  }