.option {
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 20px auto;
}

.option.focus {
    background-color: hsla(230, 12%, 63%, 0.11);
    border: 1px solid hsl(268, 93%, 26%);
    transition: ease 0.5s;
}

.check {
    height: 25px;
    width: 25px;
}

.check:hover {
    cursor: pointer;
}

.add-onTitle {
    font-size: 0.9rem;
    color: hsl(213, 96%, 18%);
}

.add-onDesc{
    font-size: 0.9rem;
    color: hsl(231, 11%, 63%);
}

.add-onPrice {
    font-size: 0.9rem;
    color: hsl(268, 42%, 59%);
    font-weight: bold;
}

@media screen and (min-width: 900px){
    #main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        width: 90vw;
        height: 80vh;
        top: 3rem;
        left: 3rem;
        position: absolute;
        border-radius: 15px;
        background-color: #fff;
    }
    #sidebar {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        position: relative;
        width: 60%;
        height: 60%;
        margin: 0;
        padding: 0;
        top: 2.5%;
        left: 2.5%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        background-image: url('../assets/images/bg-sidebar-desktop.svg');
    }
    #main-form{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        position: relative;
        margin: 0;
        padding: 0;
        top: 1%;
        right: 15%;
        width: 50vw;
        height: 50%;
    }
    footer {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        width: 100%;
        position: absolute;
        right: 13%;
        bottom: 300px;
    }
    .option {
        height: 200px;
        margin-bottom: 5px;
    }
}
